<% content_for(:title, "お気に入り") %>
<h1>お気に入りに追加したイベント</h1>
<div class="event-list">
  <%= render partial: "events/event", collection: @events %>
</div>
<% if @finished_events.exists? %>
  <h2>開催が終了したイベント</h2>
  <div class="finished-events">
    <div class="event-list">
      <%= render partial: "events/event", collection: @finished_events %>
    </div>
  </div>
<% end %>