<% content_for(:title, "自分の投稿") %>
<h1>過去の投稿</h1>
<% @posts.each do |post| %>
  <%= post.name %>
  <%= post.content %>
  <%= link_to "編集", edit_post_path(post.id) %>
  <%= link_to "削除", post_path(post.id), method: :delete %>
<% end %>
