<h2>gmap</h2>
<div>
  <form>表示エリアを選択
    <select id="area">
      <option value="Hokkaido">北海道</option>
      <option value="Tohoku">東北</option>
      <option value="Kanto">関東</option>
      <option value="Chubu">中部</option>
      <option value="Kinki">近畿</option>
      <option value="Shikoku">四国</option>
      <option value="Chugoku">中国</option>
      <option value="Kyushu">九州</option>
      <option value="Okinawa">沖縄</option>
    </select>
    <input type="button" value="検索" onClick="onButtonClick()">
  </form>
</div>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.api[:google_map_key] %>&callback=initMap" async defer></script>
<%= javascript_pack_tag 'home/index' %>