<div class="map-wrapper">
  <h1>地図からイベントを探す</h1>
  <div class="area-suggest">
    <form>都道府県を選択
      <select id="prefecture">
        <% @prefectures.each_with_index do |prefecture| %>
          <option value="<%= prefecture.name %>"><%= prefecture.name %></option>
        <% end %>
      </select>
      <input type="button" value="検索" onClick="onButtonClick()">
    </form>
  </div>
  <div id="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.api[:google_map_key] %>&callback=initMap" async defer></script>
<%= javascript_pack_tag 'home/index' %>