<div class="introduction">
  <h2>なぞなびって？</h2>
  <div class="intro-top">
    <p>日本全国の謎解きイベントに関する情報サイトです。<br>
       地図から周辺のイベントを探すのに役立てたり、口コミから自分に合った謎解きイベントを探してみましょう。</p>
  </div>
  <div class="intro-info">
    <h3>なぞなびの特長</h3>
    <div>
      <h4>地図から検索できる</h4>
      <div class="intro-box"> 
        <p>謎解きイベントが開催されているところを、地図から探すことができます。<br>
           旅行やお出かけの際、近くのイベントが簡単に見つかることで、
           今までよりも身近に謎解きを楽しむことができます。
        </p>
        <img src="/assets/introductions/intro1.png" id="intro1">
      </div>
    </div>
    <div>
      <h4>感想を投稿できる</h4>
      <div class="intro-box">
        <p>イベントに参加した感想を共有することができます。<br>
           所要時間や開催中の混雑状況などを知ることで、
           自分に合ったイベントを探して参加することができます。
        </p>
        <img src="/assets/introductions/intro2.png" id="intro2">
      </div>
    </div>
  </div>
</div>
