<div class="introduction">
  <h2>なぞなびって？</h2>
  <div>
    <p>日本全国の謎解きイベントに関する情報サイトです。<br>
       地図から周辺のイベントを探すのに役立てたり、口コミから自分に合った謎解きイベントを探してみましょう。</p>
  </div>
  <div class="intro-info">
    <h3>なぞなびの特長</h3>
    <div>
      <h4>地図から検索できる</h4>
      <div class="intro-box"> 
        <p>地図でイベントの開催地を調べることができます。近くのイベントを探したり、
           旅行の際の訪れる場所でのイベントを探してスケジュールに組み込んだり、
           今までよりも身近に謎解きを楽しむことができます。
        </p>
        <img src="/assets/introductions/intro1.png" id="intro1">
      </div>
    </div>
    <div>
      <h4>感想を投稿できる</h4>
      <div class="intro-box">
        <p>イベントに参加した感想を共有することができます。
           所要時間や開催中の混雑状況などを知ることができたり、
           感想をもとに自分に合ったイベントを探して参加することもできます。
        </p>
        <img src="/assets/introductions/intro2.png" id="intro2">
      </div>
    </div>
  </div>
</div>
