@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/*
* - header
* - footer
* - main
*    - top
*    - home
*    - user
*         -edit
*
*
*/

ul{
    list-style: none;
}

/* header */
header{
  height: 120px;
  width: 100%;
}

.header-wrapper{
  height:70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header a{
  text-decoration: none;
  cursor: pointer;
}

.header-logo{
  flex-basis: 60%;
}

.header-menu{
  flex-basis: 15%;
}

.header-usericon{
  flex-basis: 5%;
  border-radius: 50%;
}

.header-username{
  flex-basis: 20%;
}

.user-icon{
  height: 3.8rem;
  width: height;
  border-radius: 50%;
}

.menu .button{
  font-size: large;
  position: absolute;
  top: 3.3rem;
  right: 3rem;
}

.menu-item{
  position: relative;
  top: 2.5rem;
  padding: 0;
}

.header-nav{
  height: 50px;
}

.nav-items{
  display: flex;
  justify-content: space-between;
}

/* main - top */
/* main - home */
#map{
    width: 75vw;
    height: calc(75vw * 0.60);
}

#infowindow h2{
  font-size: 13px;
}

#infowindow p{
  display: inline-block;
}

#infowindow img{
  float: right;
  width: 70px;
  height:95px;
  display: inline;
}

#infowindow a{
  display: inline-block;
}

/* main - user - edit */
#user-icon{
    width:10%;
    height: width;
}

.icon-select img{
  width: 7%;
  height: width;
  cursor: pointer;
}

.select-image img{
  width: 8%;
  height: width;
}