<% content_for(:title, "投稿") %>
<div>
  <h1>みんなの投稿</h1>
  <% @posts.each do |post| %>
    <div class="post-box">
      <%= image_tag post.user_icon, class: "user-icon" %>
      <%= post.user_name %>
      <%= post.name %>
      <%= post.content %>
    </div>
  <% end %>
</div>
