$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

#map{
    width: 75vw;
    height: calc(75vw * 0.60);
}
#marker-image{
    width: 65px;
    height: 80px;
}

#user-icon{
    width:10%;
    height: width;
}

.icon-select img{
  width: 7%;
  height: width;
  cursor: pointer;
}

.select-image img{
  width: 8%;
  height: width;
}