<div class="header-usericon">
  <%= image_tag @current_user.icon, class: "user-icon" %>
</div>
<div class="header-username">
  <p className="user-name">ログインユーザー: <%= @current_user.name %>さん</p>
</div>
<div class="header-menu">
  <%= react_component 'UsersMenu', user: @current_user %>
</div>